<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div style="margin: 0 auto; max-width: 600px">
            <table style="border:1px solid #ccc;" border="0" cellspacing="0" cellpadding="5" width="100%">
                <tr>
                    <td style="background: #f5f5f5;" colspan="2">
                        <a href="http://aboundinginlove.org">
                            <img src="http://aboundinginlove.org/app/webroot/img/aboundinginlove_logo.png"
                                 height="100"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td width="150" style="padding: 20px 10px;" valign="top">
                        <strong>Invitation From</strong>
                        <div style="border: solid 1px #ccc; width:100px; height: 100px;"></div>
                        <strong>Caren Carpenter</strong>
                        <p>
                            Member since: Jan. 1, 2013
                        </p>
                    </td>
                    <td  style="padding: 20px 10px;" valign="top">
                        <strong>Message</strong>
                        <p>
                            AboundingInLove.org gives chance to the deserving children with disabilities to be normal. 
                            I’m already lending on Kiva and thought you'd like to join me with a $25 Free Trial. 
                            Redeem your Free Trial while they last!
                        </p>
                        <p>
                            -- Sender Name
                        </p>
                        <p>
                            <a href="http://aboundinginlove.org/index.php/join?332ADFADSF343ASDF">
                                Join Now!
                            </a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
