#slider {
    position:relative;
    left:0;
    top:0;
}
#menu {
    position:absolute;
    right: 0;
    left: 0;
    top:100px;
    z-index:100;
}
#logo {
    background: url('../img/logo.png') no-repeat left;
    height:254px;
    width:585px;
    position:absolute;
    left:48px;
    top:110px;
    z-index:100;
}
#headerlogo {
    background: url('../img/smalllogo.png') no-repeat left;
    height:100px;
    width:100px;
    position:absolute;
    left:48px;
    top:0px;
    z-index:100;
}
#footer ul {margin:10px 20px;}
#footer li{
    list-style: none;
    font-size: 12px;
    padding:3px 0;
}

#mydonation {
    background:url('../img/mydonation.jpg');
    width:422px;
    height:66px;
}
#donationmethod {
    background:url('../img/donationmethod.jpg');
    width:422px;
    height:66px;
}
#confirmdonation {
    background:url('../img/confirmdonation.jpg');
    width:422px;
    height:66px;
}

.topmargin1 {margin-top:20px;}
.topmargin2 {margin-top:30px;}
.topmargin3 {margin-top:100px;}
.topmargin4 {margin-top:7px;}
.topmargin5 {margin-top:50px;}
.topmargin6 {margin-top:35px;}
.topmargin7 {margin-top:5px;}
.topmargin8 {margin-top:10px;}
.leftmargin1 {margin-left:20px;}
.leftmargin2 {margin-left:30px;}
.leftmargin3 {margin-left:50px;}
.leftmargin4 {margin-left:60px;}
.leftmargin5 {margin-left:5px;}
.bottommargin1 {margin-bottom:50px;}
.bottommargin2 {margin-bottom:10px;}
.bottommargin3 {margin-bottom:20px;}
.rightmargin1 {margin-right:20px;}
.rightmargin2 {margin-right:70px;}
.rightmargin3 {margin-right:145px;}
.rightmargin4 {margin-right:30px;}

.margin1 {margin:20px auto;} 
.margin2 {margin:5px auto;} 
.margin3 {margin:30px auto;} 

.fontcolor1 {color:#015d78;}
.fontcolor2 {color:#4a88cc;}

.fontsize1 {font-size: 20px;}
.fontsize2 {font-size: 30px;}
.fontsize3 {font-size: 12px;}

.width1 {width:200px;}
.width2 {width:810px;}

/** containers **/
div.centerwrapper {
    width:1250px;
    margin:0 auto;
    overflow:hidden;
}
.center h2, .center p{
    text-align:center;
}
.center img {
    margin:0 22%;
}
.span4 img.img-circle {
    margin-left:115px;
    border:solid 1px #b3d1dc;
}
.copyright p{font-size:14px; color:#fff; text-align: center;}
.position1 {
    position:relative;
    top:329px;
    left:16px;
}
.thumnails_background {
    background: #0095c6;
    height:310px;
    border:solid 1px #0481ab;
}
.thumbnails {padding-left:55px;}
.thumbnails li {
    width:250px;
}

/*Login.ctp*/

.logincontent {
    width:900px;
    margin: 20px auto;
}
.imageborder img{
    border:solid 1px #ddd;
}
.verticalline {
    border-left:solid 1px #ddd;
    padding-left:30px;
}
.box {
    border:solid 1px #e3e3e3;
    padding:20px;
    background: #efefef;
}

.tabs {
    background: #fff;
    /*border-left:solid 1px #ddd;
    border-right:solid 1px #ddd;*/
    /*border-bottom:solid 1px #ddd;*/
    margin-bottom: 30px;
}


/*-- logo --*/

.logo {
    position:fixed; left:126px; top:0; z-index:1040;
}

.logo.scroll {
    position:absolute;
}

.logo.document {
    position:fixed; left:260px; top:0; z-index:1040;
}

.login {
    left:60%;
    width:315px;
}

.headerstyle {
    background:#f9f9f9;
    padding:20px 10px 0 0;
    border-bottom:solid 4px #f2f2f2;
    width:860px;
    margin:0 0 20px 0;
}

.footerstyle {
background: #f9f9f9;
padding: 0 0 20px 30px;
border-top: solid 4px #f2f2f2;
width: 840px;
margin: 20px 0 0 0;
}

/*-- overlayable div --*/
.overlayable {
    position: relative;
}

.overlayable .overlay {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.overlayable .overlay.modal-backdrop {
    background: #fff url(../img/loading.gif) no-repeat center center;
}

